#header {
    padding: 25px 0;

    .header_content,
    .nav_wrap {
        display: flex;
        align-items: center;
        @include adaptive-value("gap", 25, 0, 1);
    }

    .header_content {
        justify-content: space-between;

        @include media ("<1150px") {
            gap: 30px;
        }
    }

    .header_col {
        display: flex;
        align-items: center;
        @include adaptive-value("gap", 25, 0, 1);

        @include media ("<phone") {
            width: 100%;
        }
    }

    .header_logo {
        @include adaptive-value("width", 144, 117, 1);
        width: 100%;
        height: auto;
        position: relative;
        z-index: 3;

        svg {
            width: 100%;
            height: auto;
            fill: $blue;
        }

        @include media ("<phone") {
            margin-right: auto;
        }

        &.logo_active {
            svg {
                fill: $white;
            }
        }
    }

    .lang_switcher {
        padding: 11px 0 11px 25px;
        border-left: 1px solid #C6D4E1;
        @include adaptive-value("padding-left", 25, 0, 1);

        @include media ("<1150px") {
            padding: 0;
            border: none;
        }

        .lang_btn {
            width: 50px;
        }
    }

    .nav_wrap {

        @include media ("<1150px") {
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 1;
            transition: all .3s ease 0s;
            height: 100dvh;
            max-width: 740px;
            width: 100%;
            background-color: $blue;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .menu_active {
        right: 0;
        transition: all .3s ease 0s;
    }

    .nav {
        @include media ("<1150px") {
            background-color: $white;
            border-radius: 12px;
            padding: 35px 20px 20px 20px;
            position: relative;

            &::after,
            &::before {
                content: '';
                position: absolute;
                top: 16px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #9ECCFA;
            }

            &::after {
                right: 14px;
            }

            &::before {
                left: 14px;
            }
        }
    }

    .nav-menu {
        display: flex;
        align-items: center;
        gap: 30px;

        @include media ("<1150px") {
            flex-direction: column;
            row-gap: 25px;
            margin-bottom: 35px;
        }
    }


    .artboard {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: -1;

        @include media ("<1150px") {
            display: block;
        }
    }

    .menu_link {
        color: $black;
        font-family: 'Inter';
        font-size: 16px;

        @include media ("<1150px") {
            font-size: 24px;
            text-transform: uppercase;
            color: $gray;
            transition: all .3s ease 0s;
        }
    }

    @media (hover:hover) {
        .menu_link {
            &:hover {
                color: $blue;
                transition: all .3s ease 0s;
            }
        }
    }

    .blue_btn {
        width: 175px;

        @include media ("<1150px") {
            width: 100%;
        }

        &.desktop {
            @include media ("<1150px") {
                display: none;
            }
        }

        &.mobile {
            display: none;

            @include media ("<1150px") {
                display: block;
            }
        }
    }


    .header_burger {
        display: none;
        width: 28px;
        height: 19px;
        position: relative;
        top: -2px;
        cursor: pointer;
        z-index: 3;

        @include media ("<1150px") {
            display: block;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: $black;
            transition: all 0.4s ease;
        }

        span {
            position: absolute;
            width: 100%;
            height: 1px;
            background: $black;
            top: 9px;
            left: 0;
            transition: all 0.4s ease;
            opacity: 1;
        }

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0;
        }
    }

    .burger_active {
        &::after {
            background-color: $white;
            top: 50%;
            transform: rotate(-45deg);
        }

        &::before {
            background-color: $white;
            transform: rotate(45deg);
            top: 50%;
        }

        span {
            opacity: 0;
            visibility: hidden;
        }
    }
}